@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    align-content: center;
    height: 10vh;
    background-color: rgb(18, 175, 18);
}
header h1{
    
    text-align: center;
    color: white;
    font-family: "TikTok Sans", sans-serif;
    
}
.search-bar{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
#search{
    text-align: center;
    width: 60%;
    height: 6vh;
    font-family: "TikTok Sans", sans-serif;
    font-size: large;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border: none;
    background-color: gainsboro;
    outline: none;
}
.search-bar button{
     border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    width: 5vw;
    background-color: orange;
    color: white;
    border: none;
    font-weight: bold;
}
.train-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 18px 22px;
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.train-card:hover{
    transform: scale(1.02);
}

.train-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.train-header h3 {
  font-family: "TikTok Sans", sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.train-time {
  font-family: "TikTok Sans", sans-serif;
  margin-top: 6px;
  font-size: 14px;
  color: #333;
}

.time {
  font-weight: 700;
}

.station {
  font-family: "TikTok Sans", sans-serif;
  color: #666;
  margin-right: 8px;
}

.duration {
font-family: "TikTok Sans", sans-serif;
  color: #888;
  margin: 0 10px;
}

.right-info {
  text-align: right;
}

.rating {
    font-family: "TikTok Sans", sans-serif;
  border: 1px solid #ddd;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 6px;
}

.schedule {
    font-family: "TikTok Sans", sans-serif;
  display: block;
  font-size: 14px;
  color: #1a73e8;
  text-decoration: none;
}
@media only screen and (max-width: 768px){
    .search-bar button{
        width: 20vw;
    }
    #search{
        width: 69vw;
    }
    #search::placeholder{
        font-size: small;
        text-align: center;
    }
    .train-header h3 {
        font-size: 14px;
    }
    .duration{
        display: block;
    }
    .schedule{
        color: green;
    }
    
}
